/* Name - Harsh Dixit
Roll no - 86691
KD1-86691-HARSH  */
body{
    background-color: rgb(103, 105, 107);
}

.main{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        background-color: rgb(201, 201, 201);
        padding: 10px;
        margin: 20px;
        border-radius: 10px;
}

.left-header{
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.left-header-left{
    justify-content: center;
   
}

.right-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cards_main{
    display: flex; 
    flex-direction: column; 
    gap:20px; 
    align-items: center; 
    justify-content: center;
}

.cards{
    width: 60%;
    gap:20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.card{
    border: 3px solid #fff;
    border-top-left-radius: 250px 15px;
    border-bottom-left-radius: 12px 195px;
    border-bottom-right-radius: 105px 23px;
    position: relative;
    height: 130px;
    width: 130px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    box-shadow: 0px 5px 5px rgb(67, 66, 66);
    /* rotate: -2deg; */
   
}

.cross{
    position: absolute;
    top:-10px;
    right: -10px;
    height: 30px;
}
.pin{
    position: absolute;
    top:-20px;
    right: 50%;
    transform:translate(50%);
    height: 40px;
}

.footer{
    justify-content: center;
    border: tomato;
    width: 70px;
    height: 30px;
    background-color: rgb(84, 210, 245);
    font-weight: 500;
    border-radius: 10px;
    padding: 5px;
    margin-top: 120px;
}
.footer-text{
    text-align: center;
}